################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/build
/faces
/.vs
/training_images/s0037
/training_images/s0036
/training_images/s0035
/training_images/s0034
/training_images/s0033
/training_images/s0032
/training_images/s0031
/training_images/s0030
/training_images/s0029
/training_images/s0028
/training_images/s0027
/training_images/s0026
/training_images/s0025
/training_images/s0024
/training_images/s0023
/training_images/s0022
/training_images/s0021
/training_images/s0020
/training_images/s0019
/training_images/s0018
/training_images/s0017
/training_images/s0016
/training_images/s0015
/training_images/s0014
/training_images/s0013
/training_images/s0012
/training_images/s0011
/training_images/s0010
/training_images/s0009
/training_images/s0008
/training_images/s0007
/training_images/s0006
/training_images/s0005
/training_images/s0004
/training_images/s0003
/training_images/s0002
/training_images/s0001
/training_images/.vs/training_images/v15/.suo
/training_images/.vs
/training_images/net_results.txt
/training_images/annotation.txt
/training_images/stats_2018_01.ods
